table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
  background-color: #cd4f8a ;
}

th, td {
  border: 1px solid #d7c1cb ;
  padding: 0.5rem;
}

button {
  margin-right: 0.5rem;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
    background-color: #8a0040 ;
}
